@import url('../general.css');

body {
    margin: 0;
    background-image: url('../svg/web-login-bg-blue-3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.card-title{
    color: var(--principal-light-blue);
    font-size: 50px;
}

h2{
    color: var(--principal-white);
}

p{
    color: var(--principal-white);
}

.blue-wallpaper{
    background-color: var(--principal-light-blue);
}

.error{
    color: var(--principal-red); 
    font-size: 15px;
}


